@model MovieViewModel

<h3>@Model.Title</h3>
<h6>Language: @Model.Language</h6>
<h6>Genre: @Model.Genre</h6>
<h6>Age restriction: @Model.AgeRestriction</h6>
<h6>Length: @Model.Length</h6>
<h6>Released: @Model.ReleaseDate</h6>
<h6>Quantity: @Model.Quantity</h6>
<h6>Is it Available?: @Model.IsAvailable</h6>